#radar {
    width: 100%;
    display: flex;
    justify-content: center; /* Horizontally center the content */
}
#radialChart {
    /* Center vertically */
    display: flex;
     /* Vertically center the content */
}
#dropdown {
    position: absolute; 
    right: 20px; /* Adjust the right position */
    padding: 8px 12px; /* Add some padding */
    font-size: 14px; /* Adjust the font size */
    background-color: transparent; /* Transparent background */
    color: #007bff; /* Text color to match your design */
    border: 1px solid #007bff; /* Border color to match your design */
    border-radius: 4px; /* Rounded corners */
}