/* Style for the tooltip */
#tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 20px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

/* Container for the scatter plot and controls */
#container2 {
    display: flex;
    align-items: flex-start;
}

/* Container for the scatter plot */
#scatterPlot {
    flex-grow: 3;
}

/* Checkbox list */
#countryCheckboxes {
    flex-grow: 1;
    margin-left: 20px;
    max-height: 600px; 
    overflow-y: auto;  /* Enable vertical scrolling */
    border-radius: 10px; 
    border: 1px solid #000; /* Adds a solid black border */
    padding: 10px;
    background-color: white;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: white; /* Ensure the background color matches the container's */
    z-index: 10; /* Ensure it stays above other content */
}

.checkbox-container {
    margin-top: 10px; /* Add some space below the header if needed */
}

#sliderAndNote {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

#sliderContainer {
    margin-right: 20px;
}

#continentNote {
    font-size: 14px;
    line-height: 1.5;
}

.color-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

