/* Style for the tooltip */
#tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

/* Container for the scatter plot and controls */
#scattercontainer {
    display: flex;
    justify-content: space-between;
}

/* Container for the scatter plot */
#scatterPlot {
    flex-grow: 1;
}

/* Checkbox list */
#countryCheckboxes {
    margin-left: 20px;
    max-height: 600px; /* Adjust this value as needed */
    overflow-y: auto;  /* Enable vertical scrolling */
}
/* Slider */
#sliderContainer {
    margin: 20px;
    margin-bottom: 100px;
}