body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #E0F7FA;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar a {
    float: left;
    width: 23%;
    display: block;
    color: #0D47A1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #0D47A1;
    color: #E0F7FA;
}

.content {
    padding: 20px;
    padding-top: 60px; /* Ensure enough space for the fixed navbar */
}

.bubblecontainer h1 {
    padding-top: 80px; /* Ensure enough space for the fixed navbar */
}

#selectButton { 
    margin-top: 40px; /* Add some margin to separate from other elements */
    margin-right: 500px;
}

p {
    font-size: 16px;
    color: #333;
    padding-bottom: 100px;
    padding-top: 20px;
    line-height: 1.6;
    text-align: justify;
}

h2 {
    padding-top: 20px;
}
